doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title HTML5 Document
		style 
			include css/mainpug.css
			
	body
		main
			header 
				nav 
					h1 HTML5 Document
					a(href="./") 
						button 
			article 
				h1 HTML5 Document
	
//- <header>
//-             <nav>
//-                 <h1>Semantic</h1>
//-                 <a href="./">
//-                     <button></button>
//-                 </a>
//-             </nav>
//-         </header>