doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Attributes
		style 
			include css/mainpug.css
	body
	main
		header 
			nav 
				h1 Attributes 
				a(href="./") 
					button
		h1 Attributes
		a(href="http://www.google.com", target="_blank") Go to Google
		| &nbsp; | &nbsp;
		a(
			class="link",
			href="http://www.youtube.com",
			target="_blank"
		) Go to Youtube
		
	