doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Style Attribute
		style 
			include css/mainpug.css
	body
		main
			header 
				nav 
					h1 Style Attribute
					a(href="./") 
						button
		h1(style={
			'background-color': 'crimson', 
			color: 'white', 
			padding: '50px'
		}) Style Attribute
	