doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Literal Attribute
		style 
			include css/mainpug.css
	body
		main
			header 
				nav 
					h1 Literal Attribute
					a(href="./") 
						button
		h1#t01.title1.red.uppercase Literal Attribute
	