doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Comments
		style 
			include css/mainpug.css
	body
		main
			header 
				nav 
					h1 Comments
					a(href="./") 
						button
		h1 Comments
		// This is a comment and is visible in HTML
		//- This is a comment that is not visible in HTML

		//
			This is a 
			comment 
			multi-line