doctype
html(lang="en")
	style 
			include css/mainpug.css
	head
		include inc/header.pug
	body
		main
			header 
				nav 
					h1 Include
					a(href="./") 
						button
		include inc/content.pug
		include inc/footer.pug
