doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Include CSS & JS
		style
			include css/styles.css
			include css/mainpug.css
			
	body
		main
			header 
				nav 
					h1 Include CSS & JS
					a(href="./") 
						button
		script
			include js/script.js
	