docytpe
html(lang="es")
	head
		meta(charset="UTF-8")
		title ChallenguePUG
		style 
			include css/mainpug.css
	body
		main
			header 
				nav 
					h1 Iterations
					a(href="./") 
						button
		h1 Challengue PUg
		ul
			each val, index in ['#fafafa', '#e1e2f8', '#c7c9f6', '#aeb1f5', '#9499f3','#7a81f2','#606af1','#4453f1','#263ff0','#002ef0']
				li(style='background-color:'+val)

	