doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title   Main    Pug
        link(rel="Icon", href="../../imagesF/pug.png")
        style 
            include css/mainpug.css
    body
        main
            header
                nav
                    h1  Main    Pug
                    a(href="../../index.html")
                        button(class="home1") 
            section
                nav(class="menu")
                    ul
                        li
                            
                            a(href="01-document.html"   ) 01
                                span Document
                        li
                            a(href="02-attributes.html") 02
                                span Attributes
                        li
                            a(href="03-style-attr.html") 03
                                span Style Attr
                        li
                            a(href="04-variables-attr.html") 04
                                span Variables Attr
                        li
                            a(href="05-literal-attr.html")    05
                                span Literal Attr
                        li
                            a(href="06-css.html")     06
                                span CSS
                        li
                            a(href="07-javascript.html") 07 
                                span Javascript
                        li
                            a(href="08-cases.html") 08
                                span Cases
                        li
                            a(href="09-for-loop.html")   09
                                span For loop
                        li
                            a(href="10-comments.html")    10
                                span Comments
                        li
                            a(href="11-conditionals.html")    11
                                span Conditionals
                        li
                            a(href="12-include.html")     12
                                span Include
                        li
                            a(href="13-include-text.html")    13
                                span Include text
                        li
                            a(href="14-inheritance.html")     14
                                span Inheritance
                        li
                            a(href="15-iterations.html") 15
                                span Iterations
                        li
                            a(href="16-mixin.html")   16
                                span Mixin
                        li
                            a(href="17-challengue.html")  17
                                span Challengue